@model WebApplication16.Models.BatteryLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BatteryLog</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatteryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
